.Home {
    width: 80%;
    z-index: 200;
}

.Home > header{
    width: 100%;
    height: 40%;
    border-radius: 0 0 25px 0;
    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, 0.1));
    background-color: white;
}

.Home h1 {
    margin: 40px;
}

.Home h3 {
    margin: 40px;
}

@media only screen and (max-width: 600px) {
    .Home > header {
        height: fit-content;
        border-radius: 0;
        filter: none;
        background-color: inherit;
    }

    .Home h1 {
        margin: 25px;
    }
}
