.main-app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--bgColor);
}

@media only screen and (max-width: 600px) {
  .main-app {
    flex-direction: column;
  }
}
